################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Debug
/Release
/ProjectOpenGL.sln
/TerrainIdea
/ProjectOpenGL/res
/ProjectOpenGL/Debug
/ProjectOpenGL/GK1_524_160.asc
/ProjectOpenGL/glew32.dll
/ProjectOpenGL/packages.config
/ProjectOpenGL/ProjectOpenGL.vcxproj
/ProjectOpenGL/ProjectOpenGL.vcxproj.filters
/ProjectOpenGL/ProjectOpenGL.vcxproj.user
/ProjectOpenGL/x64
*.ilk
*.exe
*.pdb
.log
.obj
